.footer {
	text-align: center;
	padding-bottom: 100px;
	background: url("../img/footer/background.png") no-repeat bottom center;
}
.footer .img-responsive {
	margin: 0 auto;
}
.footer .menu {
	margin-bottom: 10px;
}
.footer .menu a,
.footer .menu a:hover {
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	padding: 0 11px;
	font-weight: 400;
}
.footer .copy {
	font-size: 13px;
	margin-bottom: 60px;
	opacity: .25;
}
.footer ul {
	margin: 0;
}
.footer ul li {
	padding: 0;
}
.footer .icons {
	margin-top: 20px;
	margin-bottom: 10px;
}
.footer .icons a,
.footer .icons a:hover {
	margin-right: 8px;
}
.footer .network img {
	margin-bottom: 12px;
	opacity: .5;
}
.footer .network a,
.footer .network a:hover {
	width: 70px;
	color: #676978;
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
	display: inline-block;
}
.footer .network a:hover img {
	opacity: 1;
}

.tooltip.top .tooltip-arrow {
	border-top-color: #fff;
}
.tooltip-inner {
	color: #000;
	background-color: #fff;
}